.lead__title {
  margin: 0;
  padding: 0;
  max-width: 720px;
  padding-bottom: 32px;
  color: white;
  font-size: 96px;
  line-height: 1.1;
  font-style: normal;
  text-align: center;
  font-weight: 900;
}
@media (max-width: 320px) {
  .lead__title {
    max-width: 320px;
    font-size: 40px;
    padding-bottom: 16px;
  }
}
