.place {
  display: grid;
  max-width: 984px;
  grid-template-columns: 460px 484px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "title website"
    "image ."
    "image .";
  column-gap: 40px;
  row-gap: 48px;
}
