.footer {
  display: grid;
  grid-template-columns: repeat(5, max-content) auto;
  width: 95%;
  padding-top: 92px;
  padding-bottom: 24px;
  color: white;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 88px;
  }
}
